<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,234}</string>
                <key>spriteSourceSize</key>
                <string>{191,234}</string>
                <key>textureRect</key>
                <string>{{0,0},{191,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,356}</string>
                <key>spriteSourceSize</key>
                <string>{356,356}</string>
                <key>textureRect</key>
                <string>{{0,698},{356,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,356}</string>
                <key>spriteSourceSize</key>
                <string>{356,356}</string>
                <key>textureRect</key>
                <string>{{356,698},{356,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,356}</string>
                <key>spriteSourceSize</key>
                <string>{356,356}</string>
                <key>textureRect</key>
                <string>{{712,698},{356,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,356}</string>
                <key>spriteSourceSize</key>
                <string>{356,356}</string>
                <key>textureRect</key>
                <string>{{1068,698},{356,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,318}</string>
                <key>spriteSourceSize</key>
                <string>{319,318}</string>
                <key>textureRect</key>
                <string>{{191,0},{319,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,332}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{510,0},{333,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,342}</string>
                <key>spriteSourceSize</key>
                <string>{343,342}</string>
                <key>textureRect</key>
                <string>{{843,0},{343,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,342}</string>
                <key>spriteSourceSize</key>
                <string>{343,342}</string>
                <key>textureRect</key>
                <string>{{1186,0},{343,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,356}</string>
                <key>spriteSourceSize</key>
                <string>{356,356}</string>
                <key>textureRect</key>
                <string>{{0,342},{356,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,356}</string>
                <key>spriteSourceSize</key>
                <string>{356,356}</string>
                <key>textureRect</key>
                <string>{{356,342},{356,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,356}</string>
                <key>spriteSourceSize</key>
                <string>{356,356}</string>
                <key>textureRect</key>
                <string>{{712,342},{356,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,356}</string>
                <key>spriteSourceSize</key>
                <string>{356,356}</string>
                <key>textureRect</key>
                <string>{{1068,342},{356,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eggBroken.png</string>
            <key>size</key>
            <string>{1529,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:033cfd1b687de2a1d865c11d74e7166c:fd17bd054c9f473c2823c2941eba98ed:93025b4e0a747cfd2f1fd9a67e4d7ebd$</string>
            <key>textureFileName</key>
            <string>eggBroken.png</string>
        </dict>
    </dict>
</plist>
