<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{100,0},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{0,123},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{100,123},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{0,246},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{100,246},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{0,369},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{100,369},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{0,492},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{100,492},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{0,615},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{100,615},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{0,738},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{100,738},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S4-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{0,861},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S4-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,123}</string>
                <key>spriteSourceSize</key>
                <string>{100,123}</string>
                <key>textureRect</key>
                <string>{{100,861},{100,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Chick_Walk.png</string>
            <key>size</key>
            <string>{200,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20e377f4d9c166dbd6888eab9bdf5268:14f97efe382db27a510a482eea4e60b2:6d90d8566e61e211a92d0913fb954b85$</string>
            <key>textureFileName</key>
            <string>Chick_Walk.png</string>
        </dict>
    </dict>
</plist>
